@page "{id:int}"
@model AbrigoGerenciamento.Pages.Abrigos.DetailsModel
@{
    ViewData["Title"] = "Detalhes do Abrigo";
}

<h1>Detalhes do Abrigo</h1>

<div>
    <h4>@Model.Abrigo.Nome</h4>
    <dl class="row">
        <dt class="col-sm-2">Endereço</dt>
        <dd class="col-sm-10">@Model.Abrigo.Cep</dd>
    </dl>
</div>

<a asp-page="Index" class="btn btn-secondary">Voltar</a>