@model AbrigoGerenciamento.Models.Abrigo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Abrigo";
}

<h2>Editar Abrigo</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cep" class="form-label"></label>
        <input asp-for="Cep" class="form-control" />
        <span asp-validation-for="Cep" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Senha" class="form-label"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>


    <button type="submit" class="btn text-black" style="background-color: #F4D35E;">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>